body {
  margin: 0;
}

.home {
  background-image: url(/img/Layer1-5.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(94, 93, 88, 0.6);
  background-size: cover;
  height: 120px;
  position: absolute;
  top: 0;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  margin-right: 200px;
  cursor: pointer;
}
span,
h1,
h2,
h3,
h4,
h5,
button,
div,
p,
a,
li {
  font-family: "Montserrat", sans-serif;
}
.logo span {
  color: rgba(255, 255, 255, 1);
  font-size: 32px;
  font-weight: 400;
}
.logo p {
  color: rgba(24, 207, 171, 1);
  font-size: 32px;
  font-weight: 700;
}
.H {
  background: url("/img/Polygon.svg") no-repeat;
  display: flex;
  width: 58px;
  height: 67px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #ffffff;
  font-weight: 700;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  position: relative;
  column-gap: 40px;
  top: 0;
  cursor: pointer;
  flex-direction: row;
  list-style: none;
}

.loupe {
  background-image: url(/img/Search-icon.svg);
  height: 20px;
  margin-left: 20px;
}
.text-section {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin-right: 0;
  margin-left: 0;
  padding: 0%;
}
.text-section::after {
  content: " ";
  background-color: rgba(24, 207, 171, 1);
  height: 2px;
  width: 0;
  position: absolute;
  top: 68px;
  left: 1px;
  right: 0;
}
.text-section:hover {
  color: rgba(24, 207, 171, 1);
}
.text-section:hover::after {
  width: 100%;
}
.the-ham-is {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 35px;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 250px;
  margin-bottom: 0;
}
.wordpress-theme {
  font-weight: 700;
  text-transform: uppercase;
  color: rgba(24, 207, 171, 1);
  font-size: 35px;
}
.title-2 {
  color: rgba(255, 255, 255, 1);
  font-size: 78px;
  text-transform: uppercase;
  text-align: Center;
  font-weight: 700;
  margin-top: 21px;
  margin-bottom: 0;
}
.title-3 {
  color: rgba(255, 255, 255, 1);
  font-size: 34px;
  font-weight: 400;
  text-align: center;
  margin-top: 17px;
  margin-bottom: 110px;
}
button {
  cursor: pointer;
}
.header-button {
  width: 169px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0px -5px 0px rgba(255, 255, 255, 1);
  height: 68px;
  font-size: 15px;
  font-weight: 700;
  margin: 0 auto;
  position: relative;
}
.explore-button {
  background-color: rgba(24, 207, 171, 1);
  border-color: rgba(24, 207, 171, 1);
  border-bottom: rgba(24, 207, 171, 1);
  border-right: rgba(24, 207, 171, 1);
}
.explore-button:nth-last-child(2) {
  right: 100px;
}
.purchase-button {
  background-color: rgba(0, 203, 246, 1);
  border-color: rgba(0, 203, 246, 1);
  border-bottom: rgba(0, 203, 246, 1);
  border-right: rgba(0, 203, 246, 1);
  top: -68px;
  left: 100px;
}

.four-option {
  display: flex;
}
.first-block {
  width: 25%;
  height: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  row-gap: 59px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  text-transform: uppercase;
}
.black-block {
  background-color: rgba(28, 42, 51, 1);
  color: rgba(24, 207, 171, 1);
  cursor: pointer;
}
.green-block {
  background-color: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}
.service {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.title-of-section {
  font-weight: 400;
  font-size: 36px;
  color: rgba(78, 78, 78, 1);
  text-align: center;
  margin-top: 47px;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
.section-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  padding-left: 0;
  list-style: none;
}
.section-name li {
  font-weight: 400;
  font-size: 15.99px;
  color: rgba(113, 113, 113, 1);
  text-align: center;
  background-color: rgba(248, 252, 254, 1);
  border: 1px solid rgba(237, 239, 239, 1);
  width: 192px;
  padding-left: 0;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.name-service:hover {
  border: 1px solid rgba(24, 207, 171, 1);
}
.block-service {
  display: none;
  flex-direction: row;
  width: 1160px;
  color: rgba(119, 119, 119, 1);
  font-size: 14px;
  font-weight: 300;
  justify-content: center;
  align-items: center;
  text-align: left;
  gap: 10px;
  align-items: flex-end;
  margin-bottom: 47px;
}
.block-service img {
  min-width: 194px;
  height: 139px;
}
#name-service.active {
  background-color: rgba(24, 207, 171, 1);
}
.pseudo-element-name-service-fist::after {
  content: " ";
  width: 27px;
  height: 27px;
  background-color: rgba(24, 207, 171, 1);
  position: absolute;
  bottom: -10px;
  transform: rotate(45deg);
  left: 85px;
}
.pseudo-element-name-service::after {
  content: " ";
  width: 27px;
  height: 27px;
  background-color: rgba(24, 207, 171, 1);
  position: absolute;
  bottom: -10px;
  transform: rotate(45deg);
  left: 85px;
}
.purchase {
  background: url(/img/Layer211.svg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 477px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.purchase button {
  margin-left: 0;
  margin-right: 0;
  margin-top: 37px;
}
.purchase h1 {
  font-weight: 700;
  font-size: 40px;
  color: rgba(24, 207, 171, 1);
  text-align: center;
  margin-bottom: 10px;
}
.purchase h2 {
  font-size: 16px;
  color: rgba(216, 216, 216, 1);
  font-weight: 400;
  text-align: center;
}
.section-2 {
  background-color: rgba(233, 237, 239, 1);
  background-size: cover;
  background-repeat: no-repeat;
}
.section-name-2 li:hover {
  border: 2px solid rgba(24, 207, 171, 1);
}
.section-name-2 li {
  border: 2px solid rgba(237, 239, 239, 1);
}
.images-of-work {
  display: flex;
  flex-wrap: wrap;
  width: 1140px;
  gap: 0px;
  row-gap: 0px;
  align-items: end;
  margin-bottom: 80px;
}
.div-of-work {
  max-width: 285px;
  height: 211px;
  display: flex;
  position: relative;
  cursor: pointer;
}
.img-of-work {
  min-width: 285px;
  height: 211px;
  margin-top: 0;
}
.hover-div {
  display: none;
  min-width: 285px;
  border-top: 6px solid rgba(24, 207, 171, 1);
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hover-div h2 {
  color: rgba(24, 207, 171, 1);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-top: 130px;
  margin-bottom: 10px;
}
.hover-div h3 {
  color: rgba(138, 138, 138, 1);
  font-weight: 300;
  font-size: 14px;
  margin-top: 0px;
}
.div-of-work:hover .hover-div img:nth-last-of-type(1) {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 124px;
  right: 110px;
}

.div-of-work:hover .hover-div img:nth-last-of-type(2) {
  width: 43px;
  height: 43px;
  position: absolute;
  bottom: 110px;
  right: 95px;
  margin-top: 0;
}

.div-of-work:hover .hover-div img:nth-last-of-type(3) {
  width: 14px;
  height: 14px;
  position: absolute;
  bottom: 124px;
  right: 153px;
}

.div-of-work:hover .hover-div img:nth-last-of-type(4) {
  width: 43px;
  height: 43px;
  position: absolute;
  bottom: 110px;
  right: 140px;
  margin-top: 0;
}
.div-of-work:hover .img-of-work {
  display: none;
}
.div-of-work:hover .hover-div {
  display: flex;
}
.load {
  display: flex;
  width: 168px;
  height: 63px;
  background-color: rgba(24, 207, 171, 1);
  border: rgba(24, 207, 171, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  font-weight: 700;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  column-gap: 15px;
  margin-top: 100px;
  border-radius: 6px;
  margin-bottom: 50px;
}

.section-3 h4 {
  color: rgba(78, 78, 78, 1);
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0;
}
.section-3 h5 {
  color: rgba(113, 113, 113, 1);
  font-weight: 700;
  font-size: 18px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 19px;
}
.section-3 p {
  font-weight: 300;
  font-size: 14px;
  color: rgba(119, 119, 119, 1);
  margin-right: 63px;
  margin-top: 0;
}
.news-divs {
  width: 1160px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 33px;
  margin-top: 40px;
  position: relative;
  margin-bottom: 69px;
}
.news-div {
  width: 265px;
  position: relative;
}

.news-div:hover h5 {
  color: rgba(24, 207, 171, 1);
}
.hover-calendar {
  width: 66px;
  height: 64px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 62, 56, 1);
  position: absolute;
  flex-wrap: wrap;
  top: 0;
  right: 1px;
}
.hover-calendar p {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
  width: 66px;
  margin: auto;
  margin-bottom: 6px;
}
.hover-calendar span {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 16px;
  margin-right: 0px;
  margin-bottom: 5px;
}
.news-div:hover .hover-calendar {
  background-color: rgba(24, 207, 171, 1);
}
.client-feedback {
  background: url("/img/Layer333.png") no-repeat;
  background-size: cover;
}
.client-feedback h1 {
  font-weight: 400;
  font-size: 36px;
  color: rgba(255, 255, 255, 1);
  margin-top: 100px;
  margin-bottom: 10px;
}
#feedback {
  font-size: 16px;
  font-weight: 300;
  color: rgba(187, 187, 187, 1);
  width: 1160px;
  line-height: 2;
  word-spacing: 1px;
}
.quotes {
  margin-top: 66px;
  margin-bottom: 39px;
}
#name-client {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: rgba(24, 207, 171, 1);
  margin-bottom: 0;
}
#job-title {
  font-weight: 300;
  font-size: 13px;
  color: rgba(187, 187, 187, 1);
  margin-bottom: 50px;
}
#avatar-client {
  border: 12px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  min-width: 142px;
  min-height: 142px;
  cursor: pointer;
}
.clients {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 110px;
  cursor: pointer;
}
#back {
  width: 31px;
  height: 31px;
  border: 1px solid rgba(187, 187, 187, 1);
  background-color: rgba(0, 203, 246, 0);
  cursor: pointer;
}
#back::after {
  content: " ";
  display: flex;
  width: 7px;
  height: 7px;
  border-left: 3px solid rgba(187, 187, 187, 1);
  border-top: 3px solid rgba(187, 187, 187, 1);
  transform: rotate(315deg);
  margin-left: 5px;
}
#next {
  width: 31px;
  height: 31px;
  border: 1px solid rgba(187, 187, 187, 1);
  background-color: rgba(0, 203, 246, 0);
  cursor: pointer;
}
#next::after {
  content: " ";
  display: flex;
  width: 7px;
  height: 7px;
  border-left: 3px solid rgba(187, 187, 187, 1);
  border-top: 3px solid rgba(187, 187, 187, 1);
  transform: rotate(135deg);
  margin-left: 2px;
}
#next:hover {
  background-color: rgba(24, 207, 171, 1);
}
#back:hover {
  background-color: rgba(24, 207, 171, 1);
}
.avatars-clients {
  width: 60px;
  height: 60px;
  border: 4px solid rgba(31, 218, 181, 0.2);
  border-radius: 50%;
  margin-top: -20px;
  transition: filter 0.5s ease;
  filter: blur(0);
}

.avatars-clients.active {
  filter: blur(5px);
}
.lines {
  margin-top: 20px;
}
.sr h1 {
  color: rgba(78, 78, 78, 1);
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
}
.section-4 h1 {
  color: rgba(78, 78, 78, 1);
  font-size: 36px;
  font-weight: 400;
  margin-top: 80px;
}
#gallery {
  margin-top: 80px;
  min-width: 1160px;
  height: auto;
}
.img-of-gallery {
  max-height: 453px;
  width: 378px;
  margin-bottom: 13px;
  cursor: pointer;
}

.inserted {
  max-width: 180px;
}
.copyright {
  background: rgba(34, 53, 63, 1);
  background-size: cover;
  height: 121px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(174, 174, 174, 1);
  font-size: 14px;
  font-weight: 300;
}

.copyright span {
  color: rgba(24, 207, 171, 1);
}

.pl {
  display: none;
  width: 6.25em;
  height: 6.25em;
  margin-top: 50px;
  margin-bottom: 50px;
}

.pl__ring,
.pl__ball {
  animation: ring 2s ease-out infinite;
}
.pl__ball {
  animation-name: ball;
}

@keyframes ring {
  from {
    stroke-dasharray: 0 257 0 0 1 0 0 258;
  }
  25% {
    stroke-dasharray: 0 0 0 0 257 0 258 0;
  }
  50%,
  to {
    stroke-dasharray: 0 0 0 0 0 515 0 0;
  }
}
@keyframes ball {
  from,
  50% {
    animation-timing-function: ease-in;
    stroke-dashoffset: 1;
  }
  64% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -109;
  }
  78% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -145;
  }
  92% {
    animation-timing-function: ease-in;
    stroke-dashoffset: -157;
  }
  57%,
  71%,
  85%,
  99%,
  to {
    animation-timing-function: ease-out;
    stroke-dashoffset: -163;
  }
}
